snippet bsc
for ${1:scanner}.Scan() {
	$2
}
$0
endsnippet

snippet errf
if err != nil {
	fmt.Fprintln(stderr, err)
	os.Exit($1)
}
$0
endsnippet

snippet ff
fmt.Printf("${1:format}")
$0
endsnippet

snippet forr
for i := range ${1:object} {
	$2
}
$0
endsnippet

snippet fors
for ${1:index}, ${2:rune} := range ${3:string} {
	$4
}
$0
endsnippet
